p {
  text-align: center;
}

.movie__details--wall {
  position: relative;
  width: 100%;
  aspect-ratio: 1920 / 917;
  background-image: url("../assets/wall3.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.movie-frame {
  position: absolute;
  width: 17.81%;
  height: 55.7%;
  top: 24.65%;
  align-items: center;
}

.movie__details {
  left: 7.15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
  padding: 0 10px;
}

.movie__details h2 {
  font-size: 22px;
}

.movie__poster--wrapper {
  left: calc(7.89% + 17.81% + 15.7%);
}

.movie__poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie__summary {
  left: calc(8.2% + (17.81% + 15.7%) * 2);
  font-size: 24px;
  display: flex;
  flex-direction: column;
  max-height: 55.7%;
}

.summary__title {
    margin-top: 10px;
}

.summary {
  margin-top: 30px;
  padding: 0 5px;
}

/*

  RESPONSIVENESS

*/

@media (max-width: 768px) {
  .movie-frame {
    font-size: 12px;
  }

  .movie-frame h2 {
    font-size: 8px;
  }

  .movie__title {
    font-size: 10px;
  }

  .movie__details {
    font-size: 10px;
  }

  .summary {
    margin-top: 4px;
  }
}

@media (max-width: 480px) {
  .movie-frame {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .movie__details {
    left: 5%;
  }

  .movie__summary {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}